#searchbar{
	height: 380px;
	background-image:url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 1%;
}
		
.city_img{
	padding: 4%;
	border-radius: 25%;
	width: 150px;
	height: 150px;	
	}
.cityImage{
	margin-right: 15%; 
	margin-left: 15%; 
	text-align: center;
}
		
input{
	width:30%; 
	background-color: #f1f1f1;
	border:1px solid transparent;
	border-radius: 12px;
	padding: 10px;
	font-size: 16px;
	margin-top: 11%;
}
.viewmore{
	padding-bottom: 7%;
	text-decoration: none;
	color: black;
	margin: 43em;
}